parameters:
	level: 1
	paths:
		- src
		- cli
	bootstrapFiles:
		- phpstan-bootstrap.php
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-tools-stubs.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php
		- lib/sqlite-database-integration/wp-includes/sqlite/class-wp-sqlite-translator.php
	stubFiles:
		- phpstan-stubs.php
